db
incremental_db
greybox_tmp
output_files
sim_fpgadc/out/*.ic501
sim_fpgadc/out/dc*.bin
sim_fpgadc/out/*.bmp
sim_fpgadc/x64/*
sim_fpgadc/ConsoleApplication1/Debug/*
sim_fpgadc/ConsoleApplication1/x64/Debug/*
sim_fpgadc/ConsoleApplication1/Release/*
sim_fpgadc/ConsoleApplication1/x64/Release/*
sim_fpgadc/.vs/ConsoleApplication1/v17/ipch/*
sim_fpgadc/.vs
*.bak
rtl/*.bak
rtl/pvr/greybox_tmp
